.menu{
    background-color: var(--primary-color);
    position: fixed;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-grey-color);
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li a{
    display: block;
    padding: 2rem;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: relative;
    
}
.menu h1{
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    font-size: 4rem;
    color: white;

}
.menu h1 a{
    color: inherit;
}

.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1.4rem;
    left: 21%;
    width: 0;
    height: 0.2rem;
    background-color: var(--sec-color);
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after{
    content: '';
    position: absolute;
    bottom: 1.4rem;
    left: 10.5%;
    width: 80%;
    height: 0.2rem;
    background-color: var(--sec-color);
    
}