:root{
    --primary-color: #adeada;
    --sec-color:#edeade;
    --light-grey-color: #EEEEEE;
    --gap:3rem;
}
*{
    margin: 0;
    padding: 0;
}
/*font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;*/
html{
    font-size: 62.5%;
}
body{
    font-family: 'Open Sans', sans-serif;
    color:var(--primary-color);
    font-size: 2rem;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
h1{   
    text-transform: uppercase;
    font-size: 6rem;
    }
h2{
    font-size: 5.5rem;
    }
h3{
    font-size: 5rem;
    }
h4{
    font-size: 4.5rem;
    }
h5{
    font-size: 4rem;
    }
h6{
    font-size: 3.5rem;
    }
.main-bg{
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: white;
    
}
.main-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
    
}

.section{
    min-height: 100vh;

}
.sec-bg{
    background-color: var(--sec-color);
    color: white;
}

.menu{
    background-color: var(--primary-color);
    position: fixed;
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--light-grey-color);
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul{
    list-style: none;
    display: flex;
}
.menu ul li a{
    display: block;
    padding: 2rem;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--sec-color);
    position: relative;
    
}
.menu h1{
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    font-size: 4rem;
    color: var(--sec-color);
}
.menu h1 a{
    color: inherit;
}
a{
    
    text-decoration: none;
}
.menu ul li a::after{
    content: '';
    position: absolute;
    bottom: 1.4rem;
    left: 1.5rem;
    width: 0;
    height: 0.2rem;
    background-color: var(--sec-color);
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after{
    content: '';
    position: absolute;
    bottom: 1.4rem;
    left: 1.5rem;
    width: 80%;
    height: 0.2rem;
    background-color: var(--sec-color);
    transition: all 300ms ease-in-out;
}