/* Paleta de cores 
.color1 { #adeada };
.color2 { #bdeadb };
.color3 { #cdeadc };
.color4 { #ddeadd };
.color5 { #edeade };*/

/*font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;*/

*{
    margin: 0;
    padding: 0;
}
